<!DOCTYPE HTML>

<html lang="pt-br">
	
	<head>
		<title>Físico Misterioso</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../src/assets/css/main.css">
		<noscript><link rel="stylesheet" href="../src/assets/css/noscript.css"></noscript>
		<link rel="stylesheet" href="../src/assets/css/Style.css">
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="Neil.html" class="logo">
									<span class="symbol"><img src="../src/images/logo.svg" alt="Logo em formato de diamante"></span><span class="title">Neil</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h1>Menu</h1>
						<ul>
							<li><a href="../index.html">Página Inicial</a></li>
							<li><a href="IsaacNewton.html">Isaac Newton</a></li>
							<li><a href="Neil.html">Neil Saborido Silva</a></li>
							<li><a href="tesla.html">Nikola Tesla</a></li>

						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<div class="G">
							<h2>NEIL O MONSTRO✌😡😝</h2>
							<span class="image main"><img src="https://media.discordapp.net/attachments/960884773725831228/1024435775317758022/e41ffc61-16d4-4ef7-a97b-3c38f74d48f6.jpg?width=911&height=683" alt="Foto De Neil Saborido"></span>
							<p>Bom agora temos um físico que pelo meu ponto de vista e de com certeza muitos aqui foi e é maior que o Isaac Newton, Neil Saborido Silva um fanático pela sociedade esportiva palmeiras como eu kkkkk, este fenomeno tem um filho que estuda na fiap school e sempre motiva todos os seus alunos em suas aulas, e decisões da vida.</p>
							<p>Ele sabe usar as palavras e a entoação como nenhum outro professor já conseguiu, ele inspira todos inclusive eu que não sou muito fã de física mas pelo jeito que ele dá aula eu me esforço para entender a matéria e com certeza não sou só eu que faz isso kkkk.</p>
							<p>Uma curiosidade sobre ele que nem todos devem saber é que ele também é PASTOR na igreja Batista, ele com certeza se dedica como pastor tanto quanto professor, e agora está explicado quando alguém fala um, a ninguém tá vendo ele responde que isso não é uma conversa entre ateus sempre à um rapaz lá em cima nos observando.</p>
						</div>
						</div>
					</div>

				<!-- Footer -->
				<footer id="footer">				
					<h3 class="inner">Arthur Márcio - 13397</h3>
					<h3 class="inner">Fernando Alexandre - 14783</h3>
					<h3 class="inner">Gustavo Fernandes - 13101</h3>
					<h3 class="inner">Lucas Dias - 14855</h3>
					<h3 class="inner">Lucas Rodrigues Alves - 12043</h3>
			</footer>
			
		</div>

		<!-- Scripts -->
			<script src="../src/assets/js/jquery.min.js"></script>
			<script src="../src/assets/js/browser.min.js"></script>
			<script src="../src/assets/js/breakpoints.min.js"></script>
			<script src="../src/assets/js/util.js"></script>
			<script src="../src/assets/js/main.js"></script>
	</body>
</html>
