<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <td>estilo</td>
                <td>imagem</td>
                <td>titulo</td>
                <td>texto</td>
                <td>Cadastrado em</td>
            </tr>
            <% for(var n=0; n<resultado.length;n++){%>
                <tr>
                    <td>estilo</td>
                    <td>imagem</td>
                    <td>titulo</td>
                    <td>texto</td>
                    <td>Cadastrado em</td>
                    
                </tr>
                <%}%>
        </table>
    </div>
</body>
</html>