<!DOCTYPE HTML>

<html lang="pt-br">
	<head>
		<title>Físico Misterioso</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../src/assets/css/main.css" >
		<noscript><link rel="stylesheet" href="../src/assets/css/noscript.css" ></noscript>
		<link rel="stylesheet" href="../src/assets/css/Style.css">
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="tesla.html" class="logo">
									<span class="symbol"><img src="../src/images/logo.svg" alt="Logo em formato de diamante" ></span><span class="title">Nikola Tesla</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h1>Menu</h1>
						<ul>
							<li><a href="../index.html">Página Inicial</a></li>
							<li><a href="IsaacNewton.html">Isaac Newton</a></li>
							<li><a href="Neil.html">Neil Saborido Silva</a></li>
							<li><a href="tesla.html">Nikola Tesla</a></li>

						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<div class="G">
							<h2>Nikola Tesla</h2>
							<span class="image main"><img src="https://media.discordapp.net/attachments/960884773725831228/1026842100802785290/unknown.png?width=1213&height=683" alt="Foto de Nikola Tesla" ></span>
							<p>Nikola Tesla foi um inventor sérvio que nasceu em 10 de julho de 1856 (Império Austro-Húngaro) em uma cidade chamada Smiljan, que fica na atual região da Croácia. Físico e engenheiro, ele ficou famoso devido às contribuições para o projeto do sistema de eletricidade de corrente alternada. Apesar de suas invenções serem aplicadas até hoje, Tesla estava falido quando morreu em 7 de janeiro de 1943.</p>
							<p>Tesla estudou Engenharia Elétrica na Áustria (1873), Física na República Tcheca (1880), trabalhou na Hungria (1881) e na França (1882), até se mudar para os Estados Unidos. Chegou a Nova York (1884) para trabalhar com Thomas Edison. Residiu durante muitos anos no famoso hotel Waldorf Astoria, quando estava no auge de sua vida financeira e intelectual. Morou por uma década no New Yorker Hotel, onde morreu.</p>
							<p>Em 1882, Tesla descobriu o campo magnético rotativo - um princípio fundamental da física que permitiu a criação de dispositivos que usam corrente alternada. Trabalhando com Thomas Edison em Nova York, nos Estados Unidos, o austro-húngaro criou ferramentas que tornaram viáveis o uso de corrente alternada para transmissão de energia elétrica em longas distâncias. Hoje, ela é utilizada nos fios de alta tensão em todo o planeta. Outras invenções importantes de Tesla foram o motor de indução elétrica usado nas indústrias e nos eletrodomésticos, o controle remoto, a transmissão via rádio, o sistema de ignição usado nos carros, a Bobina de Tesla, entre outros. Foram mais de 40 registros.</p>
						    <p>Conforme dito anteriormente, a contribuição de Nikola Tesla para a ciência é muito maior do que a corrente alternada. No entanto, ele não recebeu créditos por muitas invenções que desenvolveu. Por isso, ele é chamado de o "gênio mais injustiçado da história".
                                Antes de se desentenderem, Nikola Tesla e Thomas Edison trabalhavam juntos. Porém, eles começaram a divergir sobre o uso da corrente alternada (CA) - Edison baseava suas tecnologias na corrente contínua (CC) e era contra a "corrente assassina de Tesla".
                                Além da disputa pública com Thomas Edison, Nikola Tesla também teve que brigar para provar que era o inventor do rádio. Em 1895, um incêndio destruiu seu laboratório quando ele estava finalizando testes de uma transmissão. Em 1896, o italiano Guglielmo Marconi desenvolveu um sistema sem fio bastante parecido.O incêndio no laboratório também teria prejudicado o austro-húngaro nas pesquisas sobre radiografia. A descoberta é atribuída ao alemão Wilhelm Rötgen que, após ganhar o Nobel de Física em 1901 pelo invento, ajudou Nikola Tesla a criar a primeira imagem raio-X das Américas.</p>
                        
                            <p>Algumas frases ditas por Nikola Tesla se tornaram famosos, tais como:
                                "Se você quiser descobrir os segredos do Universo, pense em termos de energia, frequência e vibração"; 
                                "Não creio que haja uma emoção mais intensa para um inventor do que ver suas criações funcionando. Essas emoções fazem você esquecer de comer, de dormir, de tudo"; "A compreensão mútua seria enormemente facilitada pelo uso de uma língua universal (o esperanto)".</p>
                            </div>
							</div>
					</div>

				<!-- Footer -->
				<footer id="footer">				
					<h3 class="inner">Arthur Márcio - 13397</h3>
					<h3 class="inner">Fernando Alexandre - 14783</h3>
					<h3 class="inner">Gustavo Fernandes - 13101</h3>
					<h3 class="inner">Lucas Dias - 14855</h3>
					<h3 class="inner">Lucas Rodrigues Alves - 12043</h3>

				
				
			</footer>
            </div>
			

		<!-- Scripts -->
			<script src="../src/assets/js/jquery.min.js"></script>
			<script src="../src/assets/js/browser.min.js"></script>
			<script src="../src/assets/js/breakpoints.min.js"></script>
			<script src="../src/assets/js/util.js"></script>
			<script src="../src/assets/js/main.js"></script>

	</body>
</html>
