<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<title>Isaac Newton</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../src/assets/css/main.css">
		<noscript><link rel="stylesheet" href="../src/assets/css/noscript.css" ></noscript>
		<link rel="stylesheet" href="../src/assets/css/Style.css">
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<div class="inner">
							<!-- Logo -->
								<a href="IsaacNewton.html" class="logo">
									<span class="symbol"><img src="../src/images/logo.svg" alt="Logo em formato de diamante"></span><span class="title">Isaac Newton</span>
								</a>
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h1>Menu</h1>
						<ul>
							<li><a href="index.html">Página Inicial</a></li>
							<li><a href="IsaacNewton.html">Isaac Newton</a></li>
							<li><a href="Neil.html">Neil Saborido Silva</a></li>
							<li><a href="tesla.html">Nikola Tesla</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h2>Isaac Newton</h2>
							<span class="image main"><img src="https://media.discordapp.net/attachments/960884773725831228/1016467181363548241/WhatsApp_Image_2022-09-05_at_18.21.53.jpeg" alt=" Foto de Isaac Newton"></span>
							<div class="G">
							<p>Isaac Newton nasceu em Woolsthorpe em uma pequena aldeia na inglaterra, ele nasceu prematuro e ficou orfão de pai aos 2 anos, quando sua mae casou novamente Isaac foi morar com sua avó
								Foi um fisico, estronomo e matematico ingles. Seus trabalhos sobre as 3 leis do movimento levou á lei da gravitação universal, A composiçao da luz branca conduziram á moderna fisica optica e na m atematica ele lançou os fundamentos do calculo infinitesimal.</p>
							<p>Entre a data de 1665 e 1667 durante o tempo que a universidade ficou fechada, por contta da epidemia da peste bubonica que destruio a inglaterra e matou 1 decimo da população Isaac teve que voltar para casa da sua mãe, nesse periodo Isaac fez sua descoberta mais importante para a ciencia:Descobriu a lei fundamental da gravitação, imaginou as leis básicas da Mecânica e aplicou-as aos corpos celestes, inventou os métodos de cálculo diferencial e integral, além de estabelecer os alicerces de suas grandes descobertas ópticas.</p>
							<p>Em 1666 descobriu a lei da Gravitação Universal. Ao cair da árvore, a mais célebre maçã da história da ciência, motivou em Newton a ideia de gravitação universal. “Por que caiu a maçã?”, Isaac Newton elaborou uma da fundamentais leis da gravitação universal, nela ele provu que cada partícula de matéria atrai toda partícula outra, de matéria.
								Não é só a Terra que puxa para seu centro a maçã da árvore, mas também a maçã puxa a Terra, essa lei aplica-se a todos os planetas. O Sol atrai a Terra, esta atrai a Lua e a Lua atrai a Terra.</p>
								<p>E temos as 3 leis de newton tambem publicadas pela primeira no ano de 1687
									A primeira lei diz que “um corpo em repouso permanece em repouso se não é forçado a mudar, um corpo que se move continuará a mover-se com a mesma velocidade e no mesmo sentido, se não for forçado a mudar”.</p>
					<p>A segunda lei “mostra que a quantidade de força pode ser medida por uma proporção de mudança observada no movimento”. Essa proporção é o que se chama de aceleração e refere-se à rapidez do aumento ou da diminuição da velocidade.
						A terceira lei diz que “toda ação causa uma reação, e que a ação e a reação são iguais e opostas”.</p>
					</div>				
						</div>
					</div>

				<!-- Footer -->
				<footer id="footer">				
					<h3 class="inner">Arthur Márcio - 13397</h3>
					<h3 class="inner">Fernando Alexandre - 14783</h3>
					<h3 class="inner">Gustavo Fernandes - 13101</h3>
					<h3 class="inner">Lucas Dias - 14855</h3>
					<h3 class="inner">Lucas Rodrigues Alves - 12043</h3>

				
				
			</footer>
             </div>
			

		<!-- Scripts -->
			<script src="../src/assets/js/jquery.min.js"></script>
			<script src="../src/assets/js/browser.min.js"></script>
			<script src="../src/assets/js/breakpoints.min.js"></script>
			<script src="../src/assets/js/util.js"></script>
			<script src="../src/assets/js/main.js"></script>

	</body>
</html>